/* Importes */

/* Declarando variáveis */
:root {
    --fundo-da-pagina: #F3F5FC;
    --fundo-da-decriptogracao: #FFFFFF;
    --botao-criptografar: #0A3871;
    --botao-descriptografar: #D8DFE8;
    --cor-texto: #000000;
}

/* Resetando o css da págian */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--fundo-da-pagina);
    height: 100%;
}

/* Estilizando a main */

.pagina_principal {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

/* Criptografia */

.cript-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
    margin: 20px 0px 60px 10px;
}

.logo-entrada {
    width: 120px;
    height: 48px;
    align-self: flex-start;
}

.entrada {
    align-self: stretch;
    flex-grow: 2;
    margin-top: 15px;
}

.entrada input {
    width: 680px;
    height: 200px;
    background-color: var(--fundo-da-pagina);
    font-size: 24px;
    border: none;
}

.entrada input::placeholder {
    color: var(--botao-criptografar);
    text-align: center;
}

.btn-inf {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 615px;
}

.btn-inf p {
    align-self: flex-start;
    margin-bottom: 15px;
}

.btn {
    width: 615px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fundo-da-decriptogracao);
    border: solid 1px black;
}

.cript, .decript {
    width: 300px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
}

.cript {
    background-color: var(--botao-criptografar);
    color: #FFFFFF;
    border: solid 1px black;
}

.cript:hover {
    background-color: #223388;
}

.decript {
    background-color: var(--botao-descriptografar);
    color: #0A3871;
    border: solid 1px #0A3871;
}

.decript:hover {
    background-color: #d2e0f0;
}


/* Descriptografia */
.decript-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 0px;
    padding: 20px;
    background-color: var(--fundo-da-decriptogracao);
    border-radius: 32px;
    text-align: center;
    width: 400px;
}

.decript-texto-inicial {
    width: 300px;
    height: 100px;
}

.decript-texto-inicial .msg-principal {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.decript-texto-inicial .msg-secundaria {
    font-size: 14px;
    margin: 20px 0;
}

.btn-copiar {
    width: 300px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px var(--botao-criptografar);
    margin-top: 20px;
    background-color: var(--fundo-da-decriptogracao);
    color: var(--cor-texto);
}

.btn-copiar:hover {
    background-color: var(--fundo-da-pagina);
}