/* Tablet */
@media (max-width: 768px) {
    body {
        width: 100vh;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .pagina_principal {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 90%;
    }

    .cript-texto {
        width: 100%;
        margin: 0;
        font-size: 32px;
        text-align: left;
    }

    .logo-entrada {
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .entrada {
        align-self: center;
        width: 100%;
    }

    .entrada textarea {
        height: 90%;
    }

    .entrada textarea::placeholder {
        text-align: left;
        font-size: 32px;
    }

    .btn-inf {
        height: 30%;
    }

    .btn-inf p {
        font-size: 18px;
    }

    .btn {
        gap: 20px;
    }

    .cript, .decript {
        width: 100%;
        height: 100%;
        font-size: 32px;
    }

    .decript-texto {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 24px;
        max-width: 100%;
        max-height: 40vh;
    }

    .mensagem-inicial img {
        display: none;
    }

    .decript-texto-inicial .msg-secundaria {
        font-size: 32px;
    }

    .decript-texto-inicial .msg-secundaria {
        font-size: 16px;
    }

    .resultado {
        text-align: left;
        padding: 32px;
        position: relative;
        overflow: hidden;
    }

    .resultado p {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        font-size: 24px;
    }

    .btn-copiar {
        width: 100%;
        padding: 20px;
        font-size: 32px;
    }

    footer {
        font-size: 24px;
        height: 10%;
    }
}